@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&family=Montserrat:wght@400;500;600;700;800&family=Philosopher&family=Raleway:wght@400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  font-family: "Miriam Libre", sans-serif;
}

.brand {
  background-image: linear-gradient(
    to right,
    #7c3aed,
    #db2777,
    rgba(124, 58, 237, 0)
  ) !important;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.hero {
  /* Created with https://www.css-gradient.com */
  background-image: url(../public/assets/home-banner.png) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blur-box {
  width: 97%;
  margin: 0 auto;
  height: 100%;
  backdrop-filter: blur(0.5px) !important ;
}
.blur {
  width: 100%;
  filter: blur(30px);
  height: 100%;
}
.h-shadow {
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 5px 3px) !important;
}
.loading-bar {
  width: 130px;
  height: 2px;
  background: #cfcfcf;
  margin-top: 22px;
  position: relative;
  overflow: hidden;
}

.loading-bar::before {
  content: "";
  width: 68px;
  height: 2px;
  background: #000;
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
}
p,
h2 {
  margin-bottom: 0 !important;
}
@keyframes bluebar {
  50% {
    left: 96px;
  }
}

.blogContent p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em !important;
  font-size: 20px;
  margin-left: 0;
  margin-right: 0;
  font-family: "Montserrat" !important;
}

.blogContent h1 {
  display: block;
  font-size: 2.4em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Montserrat" !important;
}
.blogContent h2 {
  display: block;
  font-size: 1.8em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Montserrat" !important;
}
.blogContent h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Montserrat" !important;
}
.blogContent h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Montserrat" !important;
}
.blogContent h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Montserrat" !important;
}
.blogContent h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Montserrat" !important;
}
.blogContent ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.blogContent li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
  padding-top: 10px;
  font-size: 18px;
  font-family: "Montserrat" !important;
}
.blogContent blockquote {
  display: block;
  background: rgb(245, 245, 245);
  margin-top: 2em;
  border-left: 10px solid #e4e7eb;
  margin-bottom: 2em;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0.1em 10px;
  align-items: center;
}
.blogContent code {
  border-radius: 0.25rem;
  font-weight: 400 !important;
  padding: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  font-size: 90%;
  background: #f0efed;
}
.blogContent img {
  margin: 2em auto;
}
.blogContent hr {
  margin: 2em auto;
}
.blogContent a {
  text-decoration: underline !important;
}
.blogContent pre {
  /* color: #e5e7eb; */
  background: #f0efed;
  overflow-x: auto;
  line-height: 1.75;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.375rem;
  font-size: 16px;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  padding-left: 1.5em;
}

.ant-select-dropdown {
  display: none !important;
}
.ptabs {
  justify-content: left !important;
}
